---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
const { showNav } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title="About Me" description="About Me" />
    <style lang="scss">
      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <div class="bio wrapper wrapper__readable mt8">
        <h1>About Me</h1>
        <p>
          I'm a frontend biased full stack frontend engineer with a little bit
          of enterpeneur sprinkled in. As a former technical recruiter before
          learning to code, I bring an unorthodox perspective to the table.
        </p>

        <p>
          Day to day, I work as a software engineer at Holland & Barrett and by
          night and at weekends I'm Co-Founder at The Coder Career, a careers
          network for people in tech!
        </p>
        <p>
          Outside work, my biggest hobby is rugby - I play for my local team
          here in Edinburgh and am a huge fan of the game. When I'm not clearing
          out a ruck or desperatley chasing down a speedy winger, I'm usually
          playing guitar, walking or hanging out with my girlfriend - and our
          cat Earl!
        </p>
        <h2>FAQ</h2>
        <li>Would you be willing to work onsite?</li>
        <p>
          Probably not, maybe 1-2 times a week in Edinburgh. I will
          occassionally travel to London.
        </p>
        <li>How do you prefer to be contacted?</li>
        <p>Ideally via Linkedin or Twitter, links are in the top right.</p>
        <li>Can I call you?</li>
        <p>Let's set it up first via the channels in the above answer.</p>
      </div>
    </div>

    <Footer />
  </body>
</html>
