---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Button from "../components/Button";
import ContactForm from "../components/ContactForm";
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body>
    <nav></nav>
    <div class="wrapper mt4 mb4">
      <ContactForm />
    </div>
    <footer></footer>
  </body>
</html>
