---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav/index.jsx";
import Footer from "../components/Footer/index.jsx";
import Landing from "../components/Landing/index.jsx";
import ApperancesPreview from "../components/AppearancesPreview/index.jsx";
import WorkPreview from "../components/WorkPreview/index.jsx";

import About from "./about.astro";
// Data Fetching: List all Markdown posts in the repo.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Cameron Blackwood"
      description="Cameron Blackwood: Developer, Speaker, and Writer..."
    />
    <style lang="scss">
      $w-s: 750px;

      .hero {
        position: relative;
        min-height: 45vw;
      }

      .flexbox {
        display: flex;
        justify-content: center;
        background: red;
      }

      .gradient,
      .gradient2 {
        background-color: black;
        color: white;
        background-size: cover;
        pointer-events: none;
        mix-blend-mode: screen;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;
        max-width: 70vw;
        @media (min-width: $w-s) {
          padding-left: 4rem;
        }
      }

      .lower-overlay {
        background-color: rgb(65, 74, 82);
        padding: 16px;
        color: white;
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u8);
        margin-bottom: 0.5rem;
        margin-top: 0;
        color: white;
        @media (min-width: $w-s) {
          font-size: var(--f-u12);
        }
      }

      .grid {
        display: grid;
        grid-gap: 2rem;

        @media (min-width: 1200px) {
          grid-template-columns: 2fr 1fr;
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <div class="gradient"></div>
      <div class="gradient2"></div>
      <div class="overlay">
        <div class="lower-overlay">
          <h1 class="title">Cameron Blackwood</h1>
          <span class="role">Click a role to find out more about me...</span>
          <Landing client:load />
        </div>
      </div>
    </header>
    <About hideNav={true} />
    <div class="flexbox">
      <WorkPreview />
      <ApperancesPreview />
    </div>
    <Footer />
  </body>
</html>
