---
import MainHead from "../components/MainHead.astro";
import ContentLink from "../components/ContentLink";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
  <head>
    <MainHead title="My Links" description="Connect With Me and My Content" />
    <style lang="scss">
      .grid {
        display: grid;
        grid-gap: 3rem;
      }
    </style>
  </head>
  <body>
    <Nav />
    <ContentLink />
    <footer></footer>
  </body>
</html><!-- <html lang="en">
  <head>
    <MainHead title="My Work" description="My work experience" />
    <style lang="scss">
      .grid {
        display: grid;
        grid-gap: 3rem;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1 class="title mt4 mb4">All Apperances</h1>
      <div class="grid">
        {engagements.map((project) => <PortfolioPreview project={project} />)}
      </div>
    </div>
    <Footer />
  </body>
</html> -->
